<div class="container">
  <h1>Welcome!</h1>
  <p>Please enter the following information to login:</p>
  <%= erb :"_errors", locals: { errors: @errors } %>
  <form action="/sessions" method="post">
    <label for="email">Enter E-Mail:</label>
    <input id='email' placeholder="example@example.com" type="text" name="email"></input>
    <label for="password">Enter Password:</label>
    <input id='password' placeholder="password" type="password" name="password"></input>
    <button class="submit-button" type="submit" name="submit">Submit!</button>
  </form>
</div>
